{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 100,
  "semi": false,
  "plugins": ["prettier-plugin-svelte"]
}
