:root {
  --spacing-unit: 4px;
}

[data-theme=light] {
  --font-weight: 400;

  --color-background: #e5e5e5;
  --color-text-primary: #212121;
  --color-text-secondary: #555;
  --color-text-emphasis: #080808;
  --color-background-code: #fff;
  --color-background-note: #dcdcdc;

  --shiki-color-text: #000;
  --shiki-token-constant: #005CC5;
  --shiki-token-string: #032F62;
  --shiki-token-comment: #6A737D;
  --shiki-token-keyword: #D73A49;
  /* --shiki-token-parameter: #FFAB70; */
  --shiki-token-parameter: #E36209;
  /* --shiki-token-function: #B392F0; */
  --shiki-token-function: #6F42C1;
  --shiki-token-punctuation: #555;
  --shiki-token-symbol: #79B8FF;
  --shiki-token-operator: var(--shiki-token-keyword);
  --shiki-token-variable: var(--shiki-color-text);
  --shiki-token-member: #5a00ff;
  --shiki-token-numeric: #79B8FF;
}

[data-theme=dark] {
  --font-weight: 350;

  --color-background: #19191e;
  --color-text-primary: #d2d3d7;
  --color-text-secondary: #aaa;
  --color-text-emphasis: #f8f9fa;
  --color-background-code: #000;
  --color-background-note: #262634;

  --shiki-color-text: #fff;
  --shiki-token-constant: #70d4ff;
  --shiki-token-string: #9ECBFF;
  --shiki-token-comment: #9c9c9c;
  --shiki-token-keyword: #f97583;
  /* --shiki-token-parameter: #FFAB70; */
  --shiki-token-parameter: #FFAB70;
  /* --shiki-token-function: #B392F0; */
  --shiki-token-function: #d1aef1;
  --shiki-token-punctuation: #aaa;
  --shiki-token-symbol: #79B8FF;
  --shiki-token-operator: var(--shiki-token-keyword);
  --shiki-token-variable: var(--shiki-color-text);
  --shiki-token-member: #ad72ff;
  --shiki-token-numeric: #79B8FF;
}

[data-theme=dark] img {
  filter: brightness(.9) contrast(1.1);
}

.language-ps1 {
  --shiki-token-constant: var(--shiki-color-text);
  --shiki-token-numeric: var(--shiki-color-text);
  --shiki-token-keyword: var(--shiki-color-text);
  --shiki-token-parameter: var(--shiki-color-text);
  --shiki-token-symbol: var(--shiki-color-text);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono.woff2') format('woff2-variations');
  src: url('/fonts/JetBrainsMono.ttf') format('truetype-variations');
  font-weight: 1 999;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2-variations');
  src: url('/fonts/JetBrainsMono-Italic.ttf') format('truetype-variations');
  font-weight: 1 999;
  font-display: block;
  font-style: italic;
}

html {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: var(--font-weight);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@supports (font: -apple-system-body) and (-webkit-text-size-adjust: 100%) {
  html {
    font: -apple-system-body;
  }
}

body {
  margin: 0 auto;
  max-width: 80ch;
  padding: calc(var(--spacing-unit) * 8);
  line-height: 1.51;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

article {
  container-type: inline-size;
  container-name: article;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem 0 3rem 0;
}

.navbar fieldset svg {
  width: 15px;
  height: 15px;
}

.navbar .title {
  display: block;
  margin: 1rem 0 10px 0;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 6px;
}

.icon {
  width: 25px;
  height: 25px;
  display: block;
}

.icon svg {
  fill: var(--color-text-secondary);
}

.icon:hover svg {
  fill: var(--color-text-emphasis);
}

footer {
  margin-top: calc(var(--spacing-unit) * 13);
}

strong {
  color: var(--color-text-emphasis);
}

.small {
  font-size: 1.4rem;
}

.fullwidth {
  max-width: 100%;
  clear: both;
}

.liquid {
  clear: unset;
  overflow-x: auto;
}

h1,
h2,
h3 {
  color: var(--color-text-emphasis);
  position: relative;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-text-emphasis);
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

a.anchor {
  position: absolute;
  left: -20px;
  padding-right: 4px;
}

a.anchor svg {
  fill: var(--color-text-primary);
  visibility: hidden;
  width: 16px;
  height: 16px;
}

h1:hover a.anchor svg,
h2:hover a.anchor svg,
h3:hover a.anchor svg {
  visibility: visible;
}

pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  clear: both;
  padding: 0.8em 0px;
}

pre>code {
  width: auto;
  overflow-x: auto;
  display: block;
  font-size: 0.95rem;
}

code {
  font-size: 0.9rem;
}

code,
pre>code {
  font-family: 'JetBrains Mono', monospace;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: var(--color-background-code);
}

.note>code {
  font-size: 0.8rem;
}

table {
  border-top: 2px solid var(--color-text-primary);
  border-bottom: 2px solid var(--color-text-primary);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

th {
  border-bottom: 1px solid var(--color-text-primary);
}

td,
th {
  font-size: 0.95rem;
  padding: 10px;
}

svg {
  font-family: 'JetBrains Mono', monospace;
}

svg text.themed {
  fill: var(--color-text-primary);
}

svg path.themed {
  stroke: var(--color-text-primary);
}

svg path.themed[fill^="#"] {
  fill: var(--color-text-primary);
}

.math-display {
  width: fit-content;
  padding-left: 1em;
}

.katex .newline {
  height: 1em;
}

.js-plotly-plot {
  margin: 2em 0;
  width: 100%;
  clear: both;
}

.js-plotly-plot .plotly svg {
  overflow: visible !important;
}

.js-plotly-plot .plotly svg text {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 0.9rem !important;
}

.js-plotly-plot .plotly svg text.node-label {
  fill: var(--color-text-primary) !important;
}

.note {
  text-align: left;
  float: right;
  clear: right;
  width: 220px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 4em;
  margin-right: max(calc((100cqw - 100vw)/2), -300px);
  padding-left: 0em;
  padding-right: 4em;
  font-size: 0.85rem;
  line-height: 1.5;
  vertical-align: baseline;
  position: relative;
}

:not(li)>.note:first-of-type {
  margin-top: 0.5em;
}

span.sidenote-number {
  position: relative;
  font-size: 0.75rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote span.sidenote-number {
  left: -0.15rem;
}

figure {
  position: relative;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  margin: 0;
}

figure figcaption {
  position: relative;
  /* margin-top: 0; */
  margin-bottom: 2em;
  font-size: 1.0rem;
  font-style: italic;
  line-height: 1.6;
  vertical-align: baseline;
  text-align: center;
}

/* 80ch + 2*(20%*80ch) */
/* @media (max-width: calc(1.4 * 800px)) { */
@container article (max-width: 79.99ch) {

  .note {
    display: block;
    /* float: unset; */
    width: 25vw;
    max-width: 220px;
    border-style: none;
    border-radius: 1em;
    background-color: var(--color-background-note);
    margin: 0.5em 0 1.5em 1em;
    padding: 1em;
  }

  :not(li)>.note:first-of-type {
    margin-top: 0;
  }

  .math-display {
    width: auto;
    container-type: inline-size;
  }

  .katex-display {
    overflow-x: auto;
    font-size: min(3.5cqw, 1rem);
  }
}
